version: "3.9"

services:
  node_exporter:
    image: prom/node-exporter:v1.8.1
    container_name: node_exporter
    pid: "host"
    network_mode: "host"
    restart: unless-stopped
    command:
      - '--path.rootfs=/host'
    volumes:
      - "/:/host:ro,rslave"

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:v0.49.1
    container_name: cadvisor
    privileged: true
    ports:
      - "8080:8080"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    restart: unless-stopped